{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "header.html" %}
<body>

<div class="article-container">
    <div class="container">
        <div class="inner-container">
            <div id="article-top" class="row">
                <div class="span12">
                    <h1>NO FEAR ACT</h1>
                    <p class="small">By U.S. Army<span>June 23, 2020</span></p>
                    <section class="alt-social-bar">
                        <ul>
                            <li class="social-button-sm twitter-button">
                                <a rel="noopener noreferrer" target="_blank"
                                   href="#"><span>Share on Twitter</span></a>
                            </li>
                            <li class="social-button-sm facebook-button">
                                <a rel="noopener noreferrer" target="_blank"
                                   href="#"><span>Share on Facebook</span></a>
                            </li>
                            <li class="social-button-sm reddit-button">
                                <a rel="noopener noreferrer" target="_blank"
                                   href="#"><span>Share on Reddit</span></a>
                            </li>
                            <li class="social-button-sm linkedin-button">
                                <a rel="noopener noreferrer" target="_blank"
                                   href="#"><span>Share on LinkedIn</span></a>
                            </li>
                            <li class="social-button-sm email-button">
                                <a rel="noopener noreferrer" target="_blank"
                                   href="#"><span>Share via Email</span></a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="two-column-body">
                <div class="left-column">

                    <div class="article-body rich-text-element bodytext">
                        <div class="ql-editor">
                            <p>Equal Employment Opportunity Data Posted Pursuant to the No Fear Act</p>


                            <p>Section 301 of the Notification and Federal Employee Anti-discrimination and Retaliation
                                Act of 2002 (the No FEAR Act), requires each federal agency to post summary statistical
                                data pertaining to complaints of employment discrimination filed against it by
                                employees, former employees and applicants for employment under 29 C.F.R. Part 1614. The
                                specific data to be posted is described in section 301(b) of the Act and 29 CFR
                                1614.704. The required summary statistical data for EEO complaints filed against the
                                Department of the Army available below.</p>


                            <p>Pursuant to Title III of the No FEAR Act, federal agencies are required to post quarterly
                                on their public Web sites certain summary statistical data relating to equal employment
                                opportunity complaints filed against the respective agencies. In compliance with this
                                provision of the No FEAR Act, the Department of The Army posts cumulative statistical
                                data for equal employment opportunity complaints for the entire department. Individual
                                Commands have been instructed to post on their own respective public Web sites
                                statistical data for equal employment opportunity complaints that originate in their
                                commands. This data is updated on a quarterly basis. The posting of EEO data on agency
                                public web sites is intended to assist Congress, Federal agencies and the public to
                                assess whether and the extent to which agencies are living up to their equal employment
                                opportunity responsibilities.</p>


                            <p><a class="documentlink" target="_blank"
                                  href="{% url 'military:contact' %}"
                                  title="No FEAR 2nd Qtr 2021.pdf">No FEAR 2nd Qtr 2021.pdf</a></p>


                            <p><a class="documentlink" target="_blank"
                                  href="{% url 'military:contact' %}"
                                  title="No FEAR 1st Qtr 2021.pdf">No FEAR 1st Qtr 2021.pdf</a></p>


                            <p><a class="documentlink" target="_blank"
                                  href="{% url 'military:contact' %}"
                                  title="No FEAR 4th Qtr 2020.pdf">No FEAR 4th Qtr 2020.pdf</a></p>


                            <p><a class="documentlink" target="_blank"
                                  href="{% url 'military:contact' %}"
                                  title="NOFEAR 3rd Qtr 2020.pdf">No FEAR 3rd Qtr 2020.pdf</a></p>


                            <p><a class="documentlink" target="_blank"
                                  href="{% url 'military:contact' %}"
                                  title="No FEAR 2nd Qtr 2020.pdf">No FEAR 2nd Qtr 2020.pdf</a></p>


                            <p><a class="documentlink" target="_blank"
                                  href="{% url 'military:contact' %}"
                                  title="No FEAR 1st Qtr 2020.pdf">No FEAR 1st Qtr 2020.pdf</a></p>


                        </div>
                    </div> <!-- end article-body -->

                </div>
                <div class="right-column">
                    <div class="top-stories" style="position: static;">
                        <h4>TOP STORIES</h4>
                        <ul>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="New Army Business Management Plan critical to readiness, modernization"><span>June 2, 2021</span><span>New Army Business Management Plan critical to readiness, modernization</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Army researchers, Soldiers test new sensor capabilities "><span>June 3, 2021</span><span>Army researchers, Soldiers test new sensor capabilities </span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="National Guard Soldiers help vaccinate nearly 1.5 million Californians"><span>June 3, 2021</span><span>National Guard Soldiers help vaccinate nearly 1.5 million Californians</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Soldiers fly to Bulgaria for Saber Guardian 21 exercise"><span>June 3, 2021</span><span>Soldiers fly to Bulgaria for Saber Guardian 21 exercise</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Army targets people, readiness, modernization initiatives with fiscal 2022 budget request"><span>June 2, 2021</span><span>Army targets people, readiness, modernization initiatives with fiscal 2022 budget request</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Letter to the force from the 25th Secretary of the Army "><span>June 2, 2021</span><span>Letter to the force from the 25th Secretary of the Army </span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="The road to Project Convergence 21: Soldier touchpoints, collaboration, key to successful EDGE"><span>May 27, 2021</span><span>The road to Project Convergence 21: Soldier touchpoints, collaboration, key to successful EDGE</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Army’s first openly gay general retires after inspiring others"><span>June 1, 2021</span><span>Army’s first openly gay general retires after inspiring others</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Officer shares harrowing experience of assault to drive culture change "><span>May 27, 2021</span><span>Officer shares harrowing experience of assault to drive culture change </span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Soldier&amp;#39;s journey from refugee to pilot goes full circle"><span>May 26, 2021</span><span>Soldier's journey from refugee to pilot goes full circle</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Army mechanic-turned-officer finds joy in bridging cultures"><span>May 17, 2021</span><span>Army mechanic-turned-officer finds joy in bridging cultures</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="President awards Medal of Honor to retired Ranger for actions on Hill 205"><span>May 21, 2021</span><span>President awards Medal of Honor to retired Ranger for actions on Hill 205</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Indian-born audiologist says serving in the military is rewarding"><span>May 24, 2021</span><span>Indian-born audiologist says serving in the military is rewarding</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="First US general of Vietnamese descent recalls harrowing escape from war"><span>May 19, 2021</span><span>First US general of Vietnamese descent recalls harrowing escape from war</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Soldier&amp;#39;s journey to service began in South Vietnam"><span>May 14, 2021</span><span>Soldier's journey to service began in South Vietnam</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Army veteran shares story of trauma, resiliency "><span>May 13, 2021</span><span>Army veteran shares story of trauma, resiliency </span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="81 year-old retired Army nurse is fighting COVID-19 by administering vaccines"><span>May 9, 2021</span><span>81 year-old retired Army nurse is fighting COVID-19 by administering vaccines</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Hometown hero provides immunity for his community"><span>May 10, 2021</span><span>Hometown hero provides immunity for his community</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="1st TSC supports dedicated Soldier&amp;#39;s US citizenship quest"><span>April 22, 2021</span><span>1st TSC supports dedicated Soldier's US citizenship quest</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Heroic actions led Soldier to become first Nisei Medal of Honor recipient"><span>May 7, 2021</span><span>Heroic actions led Soldier to become first Nisei Medal of Honor recipient</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Army astronaut to return WWII artifact after nine-month space mission"><span>june 4, 2021</span><span>Army astronaut to return WWII artifact after nine-month space mission</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Veteran uses art to change culture"><span>june 4, 2021</span><span>Veteran uses art to change culture</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Second generation Korean American reflects on Asian American Pacific Islander Heritage Month"><span>April 23, 2021</span><span>Second generation Korean American reflects on Asian American Pacific Islander Heritage Month</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="World War II veterans to receive Purple Hearts decades after war"><span>April 28, 2021</span><span>World War II veterans to receive Purple Hearts decades after war</span></a>
                            </li>
                            <li>
                                <a href="{% url 'military:contact' %}"
                                   title="Memphis logistics pro sets the stage for DEFENDER-Europe 21"><span>April 27, 2021</span><span>Memphis logistics pro sets the stage for DEFENDER-Europe 21</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end .article-container -->

<div id="lightbox" class="hidden"
     style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <div class="container click-close">
        <a class="thumbnail hidden" id="thumbnail"><span class="thumbnail-button"></span></a>
        <a class="single-view hidden" id="single-view"><span class="single-view-button"></span></a>
        <span class="image-index hidden" id="image-index"></span>
        <a class="download hidden" id="download" target="_blank"><span class="download-button"></span></a>
        <a class="share hidden" id="share"><span class="share-button"></span></a>
        <div class="share-box opacity-zero" id="share-box">
            <ul>
                <li class="social-button facebook-button">
                    <a id="fb-social" href="{% url 'military:contact' %}" target="_blank">
                        <span></span>
                    </a>
                </li>
                <li class="social-button twitter-button">
                    <a id="twitter-social" href="{% url 'military:contact' %}" target="_blank">
                        <span></span>
                    </a>
                </li>
                <li class="social-button pinterest-button">
                    <a id="pint-social" href="{% url 'military:contact' %}" target="_blank">
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
        <a class="close click-close" href="javascript:;"><span class="click-close"></span></a>
        <div class="inner-container">
            <div id="video-elem" class="video-elem click-close hidden"></div>
            <div class="lb-img click-close" id="lb-img">
                <span class="full-height"></span>
                <div id="img-wrap" class="img-wrap">
                    <img id="prev-elem" class="prev-elem" src="" alt="">
                    <img id="current-elem" class="current-elem" src="" alt="">
                    <img id="next-elem" class="next-elem" src="" alt="">
                    <a class="lb-button is-visible" id="next-button" href="javascript:;"
                       title="Next image"><span></span></a>
                    <a class="lb-button" id="prev-button" href="javascript:;" title="Previous image"><span></span></a>
                </div>
                <div class="caption">
                    <span class="gradient"></span>
                    <p><span id="author"></span></p>
                </div>
            </div>
            <div class="thumbnail-view hidden" id="thumbnail-view">
                <ul>
                </ul>
            </div>
            <div class="image-loading"></div>
        </div>
    </div>
</div>
<div id="loading" class="loading">
    <div id="loading-bar" class="loading-bar"></div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-27189539-1', 'auto');
  ga('send', 'pageview', location.pathname+location.search+location.hash);


</script>
<section id="social-bar-id" class="social-bar scrolled-down">
    <h2 class="hidden">Social Sharing</h2>
    <ul>
        <li class="social-button no-hover twitter-button">
            <a rel="noopener noreferrer" target="_blank"
               href="{% url 'military:contact' %}"><span>Share on Twitter</span></a>
        </li>
        <li class="social-button no-hover facebook-button">
            <a rel="noopener noreferrer" target="_blank"
               href="{% url 'military:contact' %}"><span>Share on Facebook</span></a>
        </li>
        <li class="social-button no-hover reddit-button">
            <a rel="noopener noreferrer" target="_blank"
               href="{% url 'military:contact' %}"><span>Share on Reddit</span></a>
        </li>
        <li class="social-button no-hover linkedin-button">
            <a rel="noopener noreferrer" target="_blank"
               href="{% url 'military:contact' %}"><span>Share on LinkedIn</span></a>
        </li>
        <li class="social-button no-hover email-button">
            <a rel="noopener noreferrer" target="_blank"
               href="{% url 'military:contact' %}"><span>Share via Email</span></a>
        </li>
    </ul>
</section>
{% include "footer.html" %}

<script>
  if (typeof ga !== 'undefined') {
    ga('create', 'UA-68572100-2', {'name':'addtracking1'});
    ga('addtracking1.send', 'pageview');
  }
</script>
<div id="usasearch_sayt"
     style="background: none; border: 0px; display: block; float: none; height: 0px; line-height: 0; margin: 0px; padding: 0px; position: static; width: 0px;">
    <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front"
        style="display: none;"></ul>
</div>
<div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
</body>
<script src="{% static 'js/privacy_mini.js' %}"></script>
<script type="text/javascript" src="{% static 'js/article.js' %}"></script>
{% endblock %}
